.about-cont {
    @include displayFlex(center, space-around);
    flex-direction: column;
    padding: 0 0 100px;
    flex-wrap: wrap;
    margin-top: 100px;

    .section-title {
        padding-top: 50px;
    }

    .about-details {
        @include displayFlex(space-around, flex-start);
        flex-wrap: wrap;
        gap: 40px;
        width: 1200px;
        .know-me {
            @include displayFlex(space-around, flex-start);
            flex-direction: column;
            width: 450px;
            gap: 25px;
            text-align: justify;
            
            .bold {
                font-weight: bold;
                color: rgb(75, 73, 73);
            }

            .inline-social {
                color: $primaryColor;
                font-weight: bold;
            }
            
            .button {
                padding: 12px 40px;
                background-color: $primaryColor;
                color: $white;
                border-radius: 5px;
                font-weight: 700;
                text-decoration: none;
                border: 1px solid $primaryColor;

                &:hover {
                    background-color: $white;
                    color: $primaryColor;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: .1s ease;
                }
                
            }
        }
        
        .my-skills {
            @include displayFlex(center, flex-start);
            flex-direction: column;
            width: 450px;
            gap: 25px;
            
            .just-skills {
                @include displayFlex(flex-start, flex-start);
                flex-wrap: wrap;
                gap: 10px;
                width: 500px;
                padding: 0;
            }

            .skill {
                padding: 7px 10px;
                background-color: darkgrey;
                color: $white;
                border-radius: 3px;
            }
            
        }
    }

}


@media only screen and (max-width: 700px) {
    .about-cont {
        padding: 7vw;
        flex-direction: column;

        .section-title {
            padding-top: 0;
        }

        .about-details {
            width: 100%;
            .know-me {
                margin: 0;
            }
        }
    }
}