.contact-cont {
    @extend .about-cont;
    background-color: $normal-white;
    width: 800px;
    margin: 100px auto 20px;
    border-radius: 5px;
    
    .section-title {
        padding-top: 50px;
    }
    
    .form {
        position: relative;
        @include displayFlex(center, flex-start);
        flex-direction: column;
        padding: 30px;
        font-weight: bold;

        input, textarea {
            width: 100%;
            padding: 20px;
            margin-top: 10px;
            color: $dark-grey;
            background-color: $componentBackground;
            outline: none;
            border: none;
            border-radius: 3px;
        }

        & :nth-child(even) {
            margin-bottom: 30px;
        }

        .message-status {
            position: absolute;
            bottom: 350px;
            right: 30px;
            padding: 10px;
            border-radius: 5px;
            text-align: center;
            font-weight: bold;
            opacity: 0;
            animation: fadeIn 0.5s forwards;
          }
          
          .success {
            background-color: #d4edda;
            color: #155724;
            border: 1px solid #c3e6cb;
            width: 300px;
          }
          
          .error {
            background-color: #f8d7da;
            color: #721c24;
            border: 1px solid #f5c6cb;
          }
          
          /* Simple fade-in animation */
          @keyframes fadeIn {
            to {
              opacity: 1;
            }
          }
          

        .contact-btn {
            @extend .home-button;
            align-self: flex-end;
            border: 1px solid $primaryColor;
            cursor: pointer;
            height: 60px;
            width: 200px;
            font-weight: 500;
            font-size: 16px;
        }
    }
}

@media only screen and (max-width: 700px) {
    .contact-cont {
        .section-title {
            padding-top: 0;
        }

        .form {
            padding: 15px;
        }

    }
    
}