.contact-cont {
    @extend .about-cont;
    background-color: $normal-white;
    width: 800px;
    margin: 20px auto;
    border-radius: 5px;
    
    .form {
        @include displayFlex(center, flex-start);
        flex-direction: column;
        padding: 30px;
        font-weight: bold;

        input, textarea {
            width: 100%;
            padding: 20px;
            margin-top: 10px;
            color: $dark-grey;
            background-color: $componentBackground;
            outline: none;
            border: none;
            border-radius: 3px;
        }

        & :nth-child(even) {
            margin-bottom: 30px;
        }

        .contact-btn {
            @extend .home-button;
            align-self: flex-end;
            border: 1px solid $primaryColor;
            height: 60px;
            width: 200px;
            font-weight: 500;
            font-size: 16px;
        }
    }
}