.footer-cont {
    @include displayFlex(center, center);
    flex-direction: column;
    width: 100%;
    background-color: $dark-grey;
    padding: 0 80px;
    color: $normal-white;

    .upper {
        @include displayFlex(space-between, center);
        width: 100%;
        border-bottom: 1px solid lightgray;
        padding: 80px 0;
        gap: 30px;
        flex-wrap: nowrap;
        .name-desc {
            width: 400px;
            @include displayFlex(center, flex-start);
            flex-direction: column;
            gap: 15px;

            p {
                font-size: 12px
            }
        }

        .footer-social {
            @include displayFlex(center, flex-start);
            align-self: flex-start;
            flex-direction: column;
            gap: 15px;
            .link-cont {
                @include displayFlex(center, center);
                gap: 15px;
                a > img {
                    width: 20px;
                    height: 20px;
                    background-color: $normal-white;
                    border-radius: 10px;
                }
            }

        }
    }

    .lower {
        padding: 40px;
        font-size: 10px;

        a {
            color: white;
        }
    }
}

@media only screen and (max-width: 700px) {
    .footer-cont {
        .upper {
            flex-direction: column;
            .name-desc {
                align-self: flex-start;
            }
        }

        .lower {
            text-align: center;
        }
    }
}