@import "./styles/variables";

.app {
    overflow: hidden;

    .component-background {
        background-color: $componentBackground;
    }
    
    .component-style {
        padding: 50px 70px;
        @include displayFlex(center, center);
        flex-direction: column;
    
    }
    
    @media only screen and (max-width: 700px) {
        .component-style {
            font-size: 14px;
            @include displayFlex(center, center);
            flex-wrap: wrap;
            padding: 5vw;
        }
    }
}
